html,
body {
    background-color: white;
    min-height: 100vh;
}

.navbar {
    background-color: #fbf5dd;
}

.menu {
    background-color: white;
}

.gunung {
    color: #a6cdc6;
}

.gunung1 {
    color: #fbf5dd ;
}

.navbar1 {
    background-color: white;
}

.footer {
    background-color: #16404d;
}

.about {
    color: #a6cdc6;
}

.about1 {
    color: #a6cdc6;
}

.news {
    font-size: 3rem;
}

.news2{
    font-size: 2rem;
}